services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    container_name: perplexica
    # build:
      # context: .
    ports:
      - '3000:3000'
    volumes:
      - data:/home/perplexica/data
    restart: unless-stopped
    networks:
      - dokploy-network  

volumes:
  data:
    name: 'perplexica-data'
    
networks:
  dokploy-network:
    external: true
